.card {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 24px;
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  color: #333;
  margin-bottom: 8px;
}

.list {
  list-style: none;
  > li {
      color: #333;
      text-align: left;
    }
}